
<div>
  <div id = "map" class = "img-wrapper" ></div>
  <section>
    <div class="dropdown">
  <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
    <div class="dropdown-content">
      <li><%= link_to "Ward Map", "#summary", data: {controller: "scroll-to"}  %></li>
      <li><%= link_to "Summary", "#summary", data: {controller: "scroll-to"}  %></li>
      <li><%= link_to "Rent Prices", "#rent", data: {controller: "scroll-to"}  %></li>
      <li><%= link_to "Safety Info", "#safety", data: {controller: "scroll-to"}  %></li>
      <li><%= link_to "Community Page", "#framework_structure", data: {controller: "scroll-to"}  %></li>
    </div>
  </div>
    <h2> <%= @ward.name %></h2>
    <div width = "100"><%= image_tag 'shibuyaflag.jpg' %></div>
    <h3>Population: <%=@ward.population %> Population Density: <%=@ward.population_density %></h3>
    <h3 id = "summary">Summary</h3>
    <p><%= @ward.summary%></p>

<%# Places of interest cards  %>
      <div class="container">
        <div class="row">
              <div class="col-4 my-4">
                <div class="card points">
                  <a href="https://en.japantravel.com/tokyo/shibuya-crossing/3016"><img class="card-img-top" src="https://images.unsplash.com/photo-1609942225969-3f3109a13eb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1748&q=80" alt="<%= @ward.points_of_interest[0] %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= @ward.points_of_interest[0] %></h5>
                  </div>
                </div>
              </div>
              <div class="col-4 my-4">
                <div class="card points">
                  <a href="https://en.japantravel.com/tokyo/hachiko-statue-in-shibuya/44644"><img class="card-img-top" src="https://lp-cms-production.imgix.net/2019-06/6ea751421aeff7758f6bcdac0216043a-hachiko-statue.jpg" alt="<%= @ward.points_of_interest[1] %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= @ward.points_of_interest[1] %></h5>
                  </div>
                </div>
              </div>
              <div class="col-4 my-4">
                <div class="card points">
                  <a href="https://en.japantravel.com/places/tokyo/yoyogi-park/18"><img class="card-img-top" src="https://jw-webmagazine.com/wp-content/uploads/2017/03/4743931_s.jpg" alt="<%= @ward.points_of_interest[2] %>"></a>
                  <div class="card-body">
                    <h5 class="card-title"><%= @ward.points_of_interest[2] %></h5>
                  </div>
                </div>
              </div>
        </div>
      </div>

    <img src="" alt="">
    <h3 id = "rent">Rent Prices</h3>
    <p>Average rent prices for....</p>
    <p>1LDK:<%= @ward.one_ldk_avg_rent%></p>
    <p>2LDK:<%= @ward.two_ldk_avg_rent%></p>
    <p>3LDK:<%= @ward.three_ldk_avg_rent%></p>
    <h3 id = "safety">Safety Info</h3>
    <p> <%=@ward.safety%></p>
  </section>
</div>
