<div class="show-container">
  <div class="show-map">
    <div id="container" data-controller="map-show" data-map-show-areas-value="<%= @areas.to_json %>"
    data-map-show-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div class="map-show" data-map-show-target="globus"></div>
    </div>
  </div>
  <div class="dropdown-wrapper">
    <div class="dropdown">
      <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
      <div class="dropdown-content">
        <p><%= link_to "Ward Map", "#summary", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Summary", "#summary", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Rent Prices", "#rent", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Safety Info", "#safety", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Community Page", "#framework_structure", data: {controller: "scroll-to"}  %></p>
      </div>
    </div>
  </div>
  <div class="container my-4">
    <h2 class = "bold" id = "summary">Background</h2>
    <div class = "row">
      <div class="col-6 my-4">
        <%= image_tag("shibuyaflag.jpg", class: "flag-wrapper") %>
      </div>
      <div class="col-6 my-4">
        <div class="ward-text">
          <h4><%= @ward.summary%></h4>
          <h4><%= @ward.historical_significance%></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <%# Weather and air quality %>
    <h2 class = "bold text-center">Weather information</h2>
    <div class="container weather-aqi d-flex justify-content-around">
      <div class="row">
        <div class="col-6">
          <%# Weather %>
          <div class="card weather my-3">
            <div class="card-body p-4">
              <div class="d-flex">
                <h5 class="card-title text-center">Weather in <%= @ward.name.capitalize %></h5>
              </div>
              <div class="d-flex flex-column text-center mt-5 mb-4">
                <h6 class="display-4 mb-0 font-weight-bold"><%= @weather_temperature.round %>°C</h6>
                <span class="small" style="color: #868B94"><%= @weather_main %></span>
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1" style="font-size: 1rem;">
                  <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"><%= @weather_wind %> m/s
                    </span></div>
                  <div><i class="fas fa-tint fa-fw" style="color: #868B94;"></i> <span class="ms-1"><%= @weather_humidity %>%</span>
                  </div>
                </div>
              </div>
              <div>
                <%= image_tag(@weather_image) %>
              </div>
            </div>
          </div>
        </div>
        <%# Air quality %>
        <div class="col-6">
          <% if @air_quality_data %>
            <div class="card air-quality my-3">
              <h5 class="card-title my-3 text-center">Air quiality in <%= @ward.name.capitalize %></h5>
              <%= image_tag("air-pollution.png") %>
              <div class="card-body">
                <div class="d-flex justify-content-evenly">
                  <div class="aqi mb-3">
                    <p class="card-text"><%= @air_quality_data['list'][0]['main']['aqi'] %></p>
                  </div>
                  <div class="description mb-3">
                    <p class="card-text"><%= @air_quality_description %></p>
                  </div>
                </div>
                <p class="card-text">PM 2.5 Pollution level: <%= @air_quality_data['list'][0]['components']['pm2_5'] %></p>
              </div>
            </div>
          <% else %>
            <p>No air quality data available.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# Places of interest cards  %>
  <div class="container">
    <h2 class = "bold text-center">Points of interest</h2>
    <div class="row">
      <div class="col-4 my-4">
        <div class="card points">
          <img class="card-img-top" src=<%= @point_of_interest_image1 %> alt="<%= @ward.points_of_interest[0] %>">
          <div class="card-body">
            <h5 class="card-title"><%= @ward.points_of_interest[0] %></h5>
          </div>
        </div>
      </div>
      <div class="col-4 my-4">
        <div class="card points">
          <img class="card-img-top" src=<%= @point_of_interest_image2 %> alt="<%= @ward.points_of_interest[1] %>">
          <div class="card-body">
            <h5 class="card-title"><%= @ward.points_of_interest[1] %></h5>
          </div>
        </div>
      </div>
      <div class="col-4 my-4">
        <div class="card points">
          <img class="card-img-top" src=<%= @point_of_interest_image3 %> alt="<%= @ward.points_of_interest[2] %>">
          <div class="card-body">
            <h5 class="card-title"><%= @ward.points_of_interest[2] %></h5>
          </div>
        </div>
      </div>
    </div>
    <img src="" alt="">
    <div class="row">
      <h2 class = "bold text-center" id ="rent">Average Rent Prices</h2>
      <div class="rent-wrapper">
        <div class="rent-price-wrapper d-flex">
          <div class="rent-column">
            <%= image_tag "1ldk.png", height: 240, class: "bed-img"%>
            <h4>1LDK:  <%= @ward.one_ldk_avg_rent%></h4>
          </div>
          <div class="rent-column">
            <%= image_tag "2ldk.png", height: 240, class: "bed-img"%>
            <h4>2LDK:  <%= @ward.two_ldk_avg_rent%></h4>
          </div>
          <div class="rent-column">
            <%= image_tag "3ldk.png", height: 240, class: "bed-img"%>
            <h4>3LDK:  <%= @ward.three_ldk_avg_rent%></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class="bold text-center" id="safety">Crime rates in Tokyo</h2>
      <%# Safety chart %>
      <%= line_chart Ward.pluck(:name, :safety), dataset: { borderWidth: 3, fill: true, backgroundColor: "rgba(255, 87, 51, 0.2)", borderColor: "#FF5733" } %>
    </div>
    <div class="row">
      <h2 class = "bold text-center" id="rating">Community Poll Ratings</h2>
      <div class="rating-wrapper">
        <div class="rating-column">
          <div class="rating-card">
            <%= image_tag "bus.png", height: 120, class: "bed-img"%>
            <p>Transportation</p>
            <p><%= @ward.transportation_rating %>/10</p>
          </div>
          <div class="rating-card">
            <%= image_tag "bag.png", height: 120, class: "bed-img"%>
            <p>Shopping</p>
            <p><%= @ward.shopping_rating %>/10</p>
          </div>
        </div>
        <div class="rating-column">
          <div class="rating-card">
            <%= image_tag "theater.png", height: 120, class: "bed-img"%>
            <p>Entertainment</p>
            <p><%= @ward.entertainment_rating %>/10</p>
          </div>
          <div class="rating-card">
            <%= image_tag "lock.png", height: 120, class: "bed-img"%>
            <p>Security</p>
            <p><%= @ward.security_rating %>/10</p>
          </div>
        </div>
        <div class="rating-column">
          <div class="rating-card">
            <%= image_tag "helmet.png", height: 120, class: "bed-img"%>
            <p>Natural disaster safety</p>
            <p><%= @ward.natural_disaster_safety_rating %>/10</p>
          </div>
          <div class="rating-card">
            <%= image_tag "key.png", height: 120, class: "bed-img"%>
            <p>Housing cost satisfaction</p>
            <p><%= @ward.housing_cost_satisfaction_rating %>/10</p>
          </div>
        </div>
      </div>
    </div>
    <%# Reviews  %>
    <h2 class="m-4 bold text-center">Reviews of <%= @ward.name.capitalize %></h2>
    <div class="row">
      <% if @ward.reviews.blank? %>
        <p>Be the first to leave a review for <%= @ward.name.capitalize %></p>
      <% else %>
        <% @ward.reviews.last(3).each do |review| %>
          <div class="col-4">
            <div class="card review">
              <%# if @review.user.photo.key %>
              <%# cl_image_tag @review.user.photo %>
              <%# else %>
              <img src="https://thumbs.dreamstime.com/b/male-avatar-icon-flat-style-male-user-icon-cartoon-man-avatar-hipster-vector-stock-91462914.jpg" />
              <%# end %>
              <div class="text-center">
                <h4><%= review.user.first_name %> <%= review.user.last_name %></h4>
                <p>Rating: <%= review.rating %>/5</p>
                <p>"<%= review.content %>"</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <!-- Button trigger modal -->
    <div class="button d-flex justify-content-center mb-4 mt-0">
      <button type="button" class="btn green review" data-toggle="modal" data-target="#exampleModal">
        Leave a review
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Leave a review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@ward, @review], html: { class: 'reviews' } do |f| %>
              <%= f.input :rating, collection: (1..5).to_a, label: false, input_html: {data: {controller: "star-rating"}} %>
              <%= f.input :content, label: "Leave a review: " %>
              <div class="modal-footer">
                <%= f.button :submit, 'Post this review', class: 'btn green my-3' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# Messages %>
  <div class="container chatroom my-4" data-controller="ward-subscription" data-ward-subscription-ward-id-value="<%= @ward.id %>">
    <div class="header mt-3">
      <h1><strong>Chat with people in <%= @ward.name.capitalize %></strong></h1>
    </div>
    <div class="messages" data-ward-subscription-target="messages">
      <% @ward.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <%= simple_form_for [@ward, @message],
  html: {class: "d-flex"} do |f|
%>
      <%= f.input :content,
    label: false,
    placeholder: "Message people in #{@ward.name.capitalize}",
    wrapper_html: {class: "flex-grow-1"}
  %>
      <%= f.submit "Send", class: "btn green mb-3" %>
    <% end %>
    <%= simple_form_for [@ward, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
%>
    <% end %>
  </div>
</div>
<%# Schools  %>
<div class="container m-5">
  <h2 class="m-4 bold">International Schools <%= @ward.name.capitalize %></h2>
  <img src="..app/images/school.jpeg" />
  <div class="row">
    <% @ward.school_info.each do |school| %>
      <div class="col-6">
        <div class="card-review m-4">
          <div class="card-product-infos">
            <h1><%= school["name"]%></h1>
            <h2 class="mb-3"><%= school["website"]%></h2>
            <h2 class="mb-3"><%= school["phone"]%></h2>
            <h2 class="mb-3"><%= school["address"]%></h2>
            <h2 class="mb-3"><%= school["access"]%></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
