<div>
  <div id = "ward-banner" class = "img-wrapper d-flex align-items-center justify-content-center flex-column show-banner" >
    <div class = "ward-title">
      <h2 class = "ward_name"> <%= @ward.name.upcase %></h2>
      <h2 class = "pop_text">Population: <%=@ward.population %> </h2>
      <h2 class = "pop_text">Population Density: <%=@ward.population_density %></h3>
    </div>
  </div>
  <div class="dropdown-wrapper">
    <div class="dropdown">
      <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
      <div class="dropdown-content">
        <p><%= link_to "Ward Map", "#summary", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Summary", "#summary", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Rent Prices", "#rent", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Safety Info", "#safety", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Community Page", "#framework_structure", data: {controller: "scroll-to"}  %></p>
      </div>
      s
    </div>
  </div>
  <div class="container my-4">
    <h2 class = "bold" id = "summary">Background</h2>
    <div class = "row">
      <div class="col-6 my-4">
        <%= image_tag("shibuyaflag.jpg", class: "flag-wrapper") %>
      </div>
      <div class="col-6 my-4">
        <div class="ward-text">
          <h4><%= @ward.summary%></h4>
          <h4><%= @ward.historical_significance%></h4>
        </div>
      </div>
    </div>
    <div class="container">
      <%# Safety chart %>
      <h2 class="bold">Crime rates in Tokyo</h2>
      <%= line_chart Ward.pluck(:name, :safety), dataset: { borderWidth: 3, fill: true, backgroundColor: "rgba(255, 87, 51, 0.2)", borderColor: "#FF5733" } %>
      <%# Air quality %>
      <% if @air_quality_data %>
        <div class="card air-quality bg-<%= @air_quality_color %> text-white my-3">
          <h5 class="card-title"><%= @ward.name.capitalize %> Air Quality Now</h5>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1578604665675-9aee692f6ddc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1862&q=80" alt="Air quality image">
          <div class="card-body">
            <div class="d-flex justify-content-evenly">
              <div class="aqi mb-3">
                <p class="card-text"><%= @air_quality_data['list'][0]['main']['aqi'] %></p>
              </div>
              <div class="description mb-3">
                <p class="card-text"><%= @air_quality_description %></p>
              </div>
            </div>
            <p class="card-text">PM 2.5 Pollution level: <%= @air_quality_data['list'][0]['components']['pm2_5'] %></p>
          </div>
        </div>
      <% else %>
        <p>No air quality data available.</p>
      <% end %>
    </div>
    <%# Places of interest cards  %>
    <h2 class = "bold" id = "poi">Points of interests</h2>
    <div class="row">
      <div class="col-4 my-4">
        <div class="card points">
          <img class="card-img-top" src=<%= @point_of_interest_image1 %> alt="<%= @ward.points_of_interest[0] %>">
          <div class="card-body">
            <h5 class="card-title"><%= @ward.points_of_interest[0] %></h5>
          </div>
        </div>
      </div>
      <div class="col-4 my-4">
        <div class="card points">
          <img class="card-img-top" src=<%= @point_of_interest_image2 %> alt="<%= @ward.points_of_interest[1] %>">
          <div class="card-body">
            <h5 class="card-title"><%= @ward.points_of_interest[1] %></h5>
          </div>
        </div>
      </div>
      <div class="col-4 my-4">
        <div class="card points">
          <img class="card-img-top" src=<%= @point_of_interest_image3 %> alt="<%= @ward.points_of_interest[2] %>">
          <div class="card-body">
            <h5 class="card-title"><%= @ward.points_of_interest[2] %></h5>
          </div>
        </div>
      </div>
    </div>
    <img src="" alt="">
    <div class="row">
      <h2 class = "bold" id = "rent">Average Rent Prices</h2>
      <div class="rent-wrapper">
        <div class="rent-price-wrapper d-flex">
          <div class="rent-column">
            <%= image_tag "1ldk.png", height: 240, class: "bed-img"%>
            <h4>1LDK:  <%= @ward.one_ldk_avg_rent%></h4>
          </div>
          <div class="rent-column">
            <%= image_tag "2ldk.png", height: 240, class: "bed-img"%>
            <h4>2LDK:  <%= @ward.two_ldk_avg_rent%></h4>
          </div>
          <div class="rent-column">
            <%= image_tag "3ldk.png", height: 240, class: "bed-img"%>
            <h4>3LDK:  <%= @ward.three_ldk_avg_rent%></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class = "bold" id = "safety">Safety Info</h2>
      <p> <%=@ward.safety%></p>
    </div>

    <div class="row">
      <h2 class = "bold" id = "rating">Community Poll Ratings</h2>
      <div class="rating-wrapper">
    `   <div class="rating-column">
          <div class="rating-card">
            <%= image_tag "bus.png", height: 120, class: "bed-img"%>
            <p>Transportation</p>
            <p><%= @ward.transportation_rating %>/10</p>
          </div>
          <div class="rating-card">
            <%= image_tag "bag.png", height: 120, class: "bed-img"%>
            <p>Shopping</p>
            <p><%= @ward.shopping_rating %>/10</p>
          </div>
        </div>
        <div class="rating-column">
          <div class="rating-card">
            <%= image_tag "theater.png", height: 120, class: "bed-img"%>
            <p>Entertainment</p>
            <p><%= @ward.entertainment_rating %>/10</p>
          </div>
          <div class="rating-card">
            <%= image_tag "lock.png", height: 120, class: "bed-img"%>
            <p>Security</p>
            <p><%= @ward.security_rating %>/10</p>
          </div>
        </div>
        <div class="rating-column">
          <div class="rating-card">
            <%= image_tag "helmet.png", height: 120, class: "bed-img"%>
            <p>Natural disaster safety</p>
            <p><%= @ward.natural_disaster_safety_rating %>/10</p>
          </div>
          <div class="rating-card">
            <%= image_tag "key.png", height: 120, class: "bed-img"%>
            <p>Housing cost satisfaction</p>
            <p><%= @ward.housing_cost_satisfaction_rating %>/10</p>
          </div>
        </div>`
      </div>
    </div>

    <%# Reviews  %>
    <div class="container m-5">
      <h2 class="m-4 bold">Reviews of <%= @ward.name.capitalize %></h2>
      <div class="row">
        <% if @ward.reviews.blank? %>
          <p>Be the first to leave a review for <%= @ward.name.capitalize %></p>
        <% else %>
          <% @ward.reviews.first(2).each do |review| %>
            <div class="col-6">
              <div class="card-review m-4">
                <img src="https://thumbs.dreamstime.com/b/male-avatar-icon-flat-style-male-user-icon-cartoon-man-avatar-hipster-vector-stock-91462914.jpg" />
                <div class="card-product-infos">
                  <h2><%= review.user.first_name %> <%= review.user.last_name %></h2>
                  <p>Rating: <%= review.rating %>/5</p>
                  <p>"<%= review.content %>"</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <h1 class="mb-3">Leave a review</h1>
      <%= simple_form_for [@ward, @review], html: { class: 'reviews' } do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: false, input_html: {data: {controller: "star-rating"}} %>
        <%= f.input :content, label: "Leave a review: " %>
        <div class="container d-flex justify-content-evenly">
          <%= f.button :submit, 'Post this review', class: 'btn green my-3' %>
        <% end %>
      </div>
    </div>
  </div>

  <%# Messages %>
  <div class="container chatroom my-3" data-controller="ward-subscription" data-ward-subscription-ward-id-value="<%= @ward.id %>">
    <div class="header mt-3">
      <h1><strong>Chat with people in <%= @ward.name.capitalize %></strong></h1>
    </div>
    <div class="messages" data-ward-subscription-target="messages">
      <% @ward.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <%= simple_form_for [@ward, @message],
  html: {class: "d-flex"} do |f|
%>
      <%= f.input :content,
    label: false,
    placeholder: "Message people in #{@ward.name.capitalize}",
    wrapper_html: {class: "flex-grow-1"}
  %>
      <%= f.submit "Send", class: "btn green mb-3" %>
    <% end %>
    <%= simple_form_for [@ward, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
%>
    <% end %>
  </div>
</div>
