<div>
  <div id = "ward-banner" class = "img-wrapper d-flex align-items-center justify-content-center flex-column show-banner" >
    <div class = "ward-title">
      <h2 class = "ward_name"> <%= @ward.name.upcase %></h2>
      <h2 class = "pop_text">Population: <%=@ward.population %> </h2>
      <h2 class = "pop_text">Population Density: <%=@ward.population_density %></h3>
    </div>
  </div>
  <div class="dropdown-wrapper">
    <div class="dropdown">
      <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
      <div class="dropdown-content">
        <p><%= link_to "Ward Map", "#summary", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Summary", "#summary", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Rent Prices", "#rent", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Safety Info", "#safety", data: {controller: "scroll-to"}  %></p>
        <p><%= link_to "Community Page", "#framework_structure", data: {controller: "scroll-to"}  %></p>
      </div>
      s
    </div>
  </div>
  <div class="container my-4">
    <h2 class = "bold" id = "summary">Background</h2>
    <div class = "row">
      <div class="col-6 my-4">
        <%= image_tag("shibuyaflag.jpg", class: "flag-wrapper") %>
      </div>
      <div class="col-6 my-4">
        <div class="ward-text">
          <h4><%= @ward.summary%></h4>
          <h4><%= @ward.historical_significance%></h4>
        </div>
      </div>
    </div>

    <%# <div class="row"> %>
      <%# <% @titles.each do |title|%>
        <%# <p class="rent-title"><%= title %>
      <%# <% end %>
    <%# </div> %>

    <%# Places of interest cards  %>
    <h2 class = "bold" id = "poi">Points of interests</h2>
    <div class="row">
      <div class="col-4 my-4">
        <div class="card points">
          <a href="https://en.japantravel.com/tokyo/shibuya-crossing/3016"><img class="card-img-top" src="https://images.unsplash.com/photo-1609942225969-3f3109a13eb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1748&q=80" alt="<%= @ward.points_of_interest[0] %>"></a>
          <div class="card-body">
            <h5 class="card-title"><%= @ward.points_of_interest[0] %></h5>
          </div>
        </div>
      </div>
      <div class="col-4 my-4">
        <div class="card points">
          <a href="https://en.japantravel.com/tokyo/hachiko-statue-in-shibuya/44644"><img class="card-img-top" src="https://lp-cms-production.imgix.net/2019-06/6ea751421aeff7758f6bcdac0216043a-hachiko-statue.jpg" alt="<%= @ward.points_of_interest[1] %>"></a>
          <div class="card-body">
            <h5 class="card-title"><%= @ward.points_of_interest[1] %></h5>
          </div>
        </div>
      </div>
      <div class="col-4 my-4">
        <div class="card points">
          <a href="https://en.japantravel.com/places/tokyo/yoyogi-park/18"><img class="card-img-top" src="https://jw-webmagazine.com/wp-content/uploads/2017/03/4743931_s.jpg" alt="<%= @ward.points_of_interest[2] %>"></a>
          <div class="card-body">
            <h5 class="card-title"><%= @ward.points_of_interest[2] %></h5>
          </div>
        </div>
      </div>
    </div>
    <img src="" alt="">
    <div class="row">
      <h2 class = "bold" id = "rent">Rent Prices</h2>
      <div class="rent-wrapper">
        <p>Average rent prices for....</p>
        <div class="rent-price-wrapper d-flex">
          <div class="rent-column">
            <%= image_tag "1ldk.png", height: 240%>
            <p>1LDK:<%= @ward.one_ldk_avg_rent%></p>
          </div>
          <div class="rent-column">
            <%= image_tag "2ldk.png", height: 240%>
            <p>2LDK:<%= @ward.two_ldk_avg_rent%></p>
          </div>
          <div class="rent-column">
            <%= image_tag "3ldk.png", height: 240%>
            <p>3LDK:<%= @ward.three_ldk_avg_rent%></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class = "bold" id = "safety">Safety Info</h2>
      <p> <%=@ward.safety%></p>
    </div>

    <div class="row">
      <h2 class = "bold" id = "rating">Community Poll Ratings</h2>
      <div class="rating-column">
        <div class="poll-item">
          <p><%= @ward.transportation_rating %></p>
        </div>
        <div class="poll-item">
          <p><%= @ward.shopping_rating %></p>
        </div>
      </div>
      <div class="rating-column">
        <div class="poll-item">
          <p><%= @ward.entertainment_rating %></p>
        </div>
        <div class="poll-item">
          <p><%= @ward.security_rating %></p>
        </div>
      </div>
      <div class="rating-column">
        <div class="poll-item">
          <p><%= @ward.natural_disaster_safety_rating %></p>
        </div>
        <div class="poll-item">
          <p><%= @ward.housing_cost_satisfaction_rating %></p>
        </div>
      </div>
    </div>
    <%# Reviews  %>
    <div class="container m-5">
      <h2 class="m-4 bold">Reviews of <%= @ward.name.capitalize %></h2>
      <div class="row">
        <% if @ward.reviews.blank? %>
          <p>Be the first to leave a review for <%= @ward.name.capitalize %></p>
        <% else %>
          <% @ward.reviews.first(2).each do |review| %>
            <div class="col-6">
              <div class="card-review m-4">
                <img src="https://thumbs.dreamstime.com/b/male-avatar-icon-flat-style-male-user-icon-cartoon-man-avatar-hipster-vector-stock-91462914.jpg" />
                <div class="card-product-infos">
                  <h2><%= review.user.first_name %></h2>
                  <p>Rating: <%= review.rating %>/5</p>
                  <p>"<%= review.content %>"</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <h1 class="mb-3">Leave a review</h1>
      <%= simple_form_for [@ward, @review], html: { class: 'reviews' } do |f| %>
        <%= f.input :rating, collection: ["1","2","3","4","5"], label: "Rate this ward" %>
        <%= f.input :content, label: "Leave a review: " %>
        <div class="container d-flex justify-content-evenly">
          <%= f.button :submit, 'Post this review', class: 'btn green my-3' %>
        <% end %>
      </div>
    </div>
  </div>
